.color-box {
    $box-size: 300px;

    display: inline-block;
    margin: 50px;
    height: $box-size;
    width: $box-size;
    border-radius: 8px;
    cursor: pointer;

    transition: all 0.5s ease-out;
}
